body{ /*Element or type selector*/
    background-color: rgb(174, 174, 174);
    /*functional value*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header{ /*Element or type selector*/
    display: flex;
    align-items: center;
    width: 100%;    /*relative value */
    height: 4.5rem; /*relative value */
    /* height: 200px; /* fixed value */
    background-color: white;
    justify-content: space-around;

    border: 1px solid rgb(0, 107, 246);
    /*CSS shorthand*/
}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section{
    display: flex;
    width: 100%;
    height: 40rem;
    background-color: white;
    border: 2px solid rgb(2, 27, 249);
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
}

ul{
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

nav ul li:first-child{ /*Pseudo-class selector*/
    font-weight: bold;
}

.logo{
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: rgb(0, 89, 255);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center; /*horizontal center*/
    align-items: center; /*vertical center*/
}

form {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 100%;
    gap: 1rem;
    align-items: center;  /* fix */
}

form input {
    width: 80%;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(6, 155, 255);
    padding-left: 1rem;
}

h2 {
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
}

* {
    box-sizing: border-box;
}

label {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.submit-btn {
    display: block;
    width: 150px;
    padding: 12px 0;
    margin-top: 20px;
    background-color: #2e2be2;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: #003afa;
}

aside{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 4rem;
    height: 40rem;
    background-color: white;
    border: 2px solid rgb(2, 47, 249);
    align-items: flex-start;
    justify-content: flex-start;
}

.list-boxx {
    padding: 1rem;           
    font-size: 1.6rem;       
}

.list-boxx h3 {
    font-size: 2rem;         
    margin-bottom: 1rem;
}

.list-boxx ol li {
    margin-bottom: 0.4rem;   
}

.desc-box {
    font-size: 1.6rem;
    margin-top: 1.3rem;   
}

.desc-box .row {
    display: flex;
    gap: 1rem;        
    white-space: nowrap;
    margin-bottom: 0.4rem;
}

.desc-box dt {
    font-weight: bold;
    margin: 0;
}

.desc-box dd {
    margin: 0;
}

.table-box h2 {
    text-align: left;  
}

.table-box {
    flex-basis: 100%;     
    margin-bottom: 2rem;
    padding-left: 2rem; 
    text-align: left;
}

.table-box table {
    border-collapse: collapse;
}

.table-box th,
.table-box td {
    border: 1px solid black;
    padding: 0.5rem 4rem;
}

.box {
    width: 800px;
    height: 300px;
    border: 2px solid black;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.boxmodel-section h5 {
    font-size: 3rem;      
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}
